In [3]:
import pandas as pd

In [4]:
type = 'train'

In [5]:
# Using readlines to get the data from file
text_file = open(f'data/{type}/transcripts/text', 'r')
text_lines = text_file.readlines()

sentences = []
chunk_names = []

## get sentence and chunk name by splitting
for i in range(len(text_lines)):
    line = text_lines[i].strip()
    line = line.split(' ')
    chunk_name = line[0]
    sentence = line[1:]
    sentence = ' '.join(sentence)

    chunk_names.append(chunk_name)
    sentences.append(sentence)
    
len(chunk_names), len(sentences)

(52825, 52825)

In [6]:
# Using readlines()
segments = open(f'data/{type}/transcripts/segments', 'r')
segments_lines = segments.readlines()

segments_start = []
segments_end = []
file_names = []

count = 0
## get segments and file name by splitting
for i in range(len(segments_lines)):
    line = segments_lines[i].strip()
    line = line.split(' ')
    chunk_name = line[0]
    file_name = line[1]
    segment_start = line[2]
    segment_end = line[3]

    segments_start.append(segment_start)
    segments_end.append(segment_end)

    file_names.append(file_name)

len(segments_end), len(file_names)

(52825, 52825)

In [7]:
## Saving data
values = {
    'segments_start': segments_start, 'segments_end':segments_end, 'sentence':sentences, 'chunk_name':chunk_names, 'parent_name':file_names
}
df = pd.DataFrame(values) ## columns = audio_file_path, segment_size, sentence, chunk_name, parent_name

df.to_csv(f'{type}.csv', index=False)

In [8]:
df.head()

,segments_start,segments_end,sentence,chunk_name,parent_name
0,0.0,9.0,दोस्तों bash में nested और multilevel if state...,100051_GigsEKRBMhvNwolC_0000,GigsEKRBMhvNwolC
1,9.0,12.0,इस tutorial में हम निम्न के बारे में सीखेंगे,100051_GigsEKRBMhvNwolC_0001,GigsEKRBMhvNwolC
2,12.0,14.0,nested ifelse और,100051_GigsEKRBMhvNwolC_0002,GigsEKRBMhvNwolC
3,14.0,17.0,multilevel ifelse statement,100051_GigsEKRBMhvNwolC_0003,GigsEKRBMhvNwolC
4,17.0,22.0,हम यह कुछ उदाहरण उपयोग करके करेंगे,100051_GigsEKRBMhvNwolC_0004,GigsEKRBMhvNwolC